<template name="productitem">
    <div class="row text-center">
        {{#each products}}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{img.image}}" alt="">
                <div class="caption">
                    <h4 class="text-center"><span class="label label-warning">{{category.name}}</span></h4>
                    <h5>{{name}}</h5>
                    <p>$ {{price}}</p>
                    <p>
                        <a href="/{{category.name}}/product/{{_id}}" class="btn btn-default">Detail Information</a>
                    </p>
                </div>
            </div>
        </div>
        {{else}}
        <h1>Not found</h1>
        {{/each}}

    </div>
</template>
